/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}

@media (max-width: 540px) {
    .header {
        padding: 10px;
    }
    .but-cust {
        margin: 4px;
    }
    /*left-right button*/
    .mfp-arrow {
        bottom: 0;
        top: initial;
    }
    .mfp-arrow-left {
        right: 0;
        left: initial;
    }
    .mfp-arrow {
        opacity: 0!important;
    }
    .fa {
        display: none;
    }
}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
    html {
        overflow-x: hidden;
    }
    #filters {
        padding-top: 50px;
    }
    .intro {
        padding-top: 50px;
    }
}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
    html {
        overflow-x: hidden;
    }
    .intro {
        width: 979px;
    }
}

@media only screen and (max-width: 900px) {
    html {
        overflow-x: hidden;
    }
    .mfp-arrow {
        -webkit-transform: scale(0.50);
        transform: scale(0.50);
    }
}


/* Large Devices, Wide Screens */

@media (max-width: 1024px) {
    html {
        overflow-x: hidden;
    }
    .header {
        padding: 25px;
    }
    .but-cust {
        margin: 2px;
    }
    .btn {
        padding: 0px;
        margin: 6px;
    }
}


@media (min-width: 1024px) and (max-width: 1200px) {
    html {
        overflow-x: hidden;
    }
    .intro {
        width: 1010px;
    }
}
@media only screen and (min-width: 1200px) {}
