/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {
    .main-intro {
        padding: 60px 10px 40px 32px;
    }
}

@media only screen and (max-width: 320px) {
    .main-intro > a,
    .main-intro > h4 {
        font-size: 12pt;
    }
}

@media only screen and (min-width: 375px) {
    .main-intro {
        width: 380px;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
    .main-intro {
        /*padding: 100px 20px 40px 20px;*/
    }
}

@media only screen and (min-width: 427px) {
    .main-intro {
        width: 574px;
    }
}

@media only screen (max-width: 540px) {
    .header {
        padding: 10px;
    }
    .but-cust {
        margin: 4px;
    }
    /*left-right button*/
    .mfp-arrow {
        bottom: 0;
        top: initial;
    }
    .mfp-arrow-left {
        right: 0;
        left: initial;
    }
    .mfp-arrow {
        opacity: 0!important;
    }
    .fa {
        display: none;
    }
    #backtotop .fa {
        display: block;
    }
    .main-intro {
        padding: 100px 20px 40px 20px;
    }
}

@media only screen and (min-width: 440px) and (max-width: 768px) {
    .main-intro > h4 {
        font-size: 16px;
    }
}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
    html {
        overflow-x: hidden;
    }
    header,
    .container {
        /*height: 30% !important;*/
        width: 100%;
    }
    #filters {
        padding-top: 50px;
    }
    .intro {
        padding-top: 50px;
    }
    .col-sm-6 {
        width: 49.98%;
    }
    .main-intro {
        width: 500px;
    }
}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
    html {
        overflow-x: hidden;
    }
    .intro {
        /*width: 979px;*/
        width: 100%;
    }
    .main-intro {
        width: 580px;
    }
}

@media only screen and (min-width: 770px) and (max-width: 1024px) {
    .main-intro {
        width: 580px;
    }
}

@media only screen and (max-width: 900px) {
    html {
        overflow-x: hidden;
    }
    .mfp-arrow {
        -webkit-transform: scale(0.50);
        transform: scale(0.50);
    }
}


/* Large Devices, Wide Screens */

@media (max-width: 1024px) {
    html {
        overflow-x: hidden;
    }
    .header {
        padding: 25px;
    }
    .but-cust {
        margin: 2px;
    }
    .btn {
        padding: 0px;
        margin: 6px;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    html {
        overflow-x: hidden;
    }
    .intro {
        /*width: 1020px;*/
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    html {
        overflow-x: hidden;
    }
    .col-lg-4 {
        width: 33.32%;
    }
    .intro {
        width: 100%;
    }
}
