html,
body {
    height: 100%;
    width: 100%;
    /*font-family: 'Poiret One', cursive;*/
    font-family: Arial;
}

.fade {
    -webkit-transition: opacity .0s linear;
    -o-transition: opacity .0s linear;
    transition: opacity .0s linear
}

.header {
    padding: 50px;
    background-color: transparent;
}

.intro {
    padding-top: 100px;
}

.item {
    border: none;
}

.item-wrap {
    padding: 5px;
}

.mfp-bg {
    background-color: #fff!important;
}

#posts img {
    margin: 0 auto;
    padding: 30px;
}

.but-cust {
    border-radius: 0px;
    background-image: none!important;
    background-color: transparent!important;
    border-color: transparent;
    text-shadow: none!important;
    box-shadow: none!important;
    color: grey;
    padding: 0px;
    margin: 8px;
}

.but-cust:hover {
    background-color: transparent;
    color: #000;
    border-color: transparent;
}

.but-cust:active,
.but-cust.active {
    /*background-color: #e1e1e1!important;*/
    color: #000!important;
    border-color: transparent;
    border-bottom: 0.5px solid #7A7C7F;
}


/* Isotope Transitions
------------------------------- */

.isotope,
.isotope .item {
    /*change this to change animation interval*/
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.0s;
    -ms-transition-duration: 0.0s;
    -o-transition-duration: 0.0s;
    transition-duration: 0.0s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: top, left, opacity;
    transition-property: transform, opacity;
}

footer {
    height: 100px;
}

footer .list-inline {
    margin-top: 20px;
}

footer a {
    color: #666;
}

.mfp-title {
    color: #484747;
}

.mfp-figure small {
    color: #828282;
}

.mfp-arrow {
    opacity: 0.20;
}

.mfp-arrow:hover,
.mfp-arrow:focus {
    opacity: 0.40;
}

.mfp-figure:after {
    box-shadow: none;
}
