html,
body {
    height: 100%;
    width: 100%;
    /*font-family: 'Poiret One', cursive;*/
    font-family: Arial;
}

.fade{
    -webkit-transition: opacity .0s linear;
    -o-transition: opacity .0s linear;
    transition: opacity .0s linear
}

.header {
    padding: 50px;
    background-color: transparent;
}

.intro {
    padding-top: 100px;
}

.item {
    border: none;
}

.item-wrap {
    padding: 5px;
}

.div-img {
    padding: 30px 0px;
}

#posts img {
    margin: 0 auto;
    padding: 30px;
}

.but-cust {
    border-radius: 0px;
    border-color: #fff;
    background-image: linear-gradient(to bottom, #fff 0, #FFFFFF 100%);
}

.but-cust:hover {
    background-color: #fff;
}

.but-cust:active, .but-cust.active {
    background-color: #e1e1e1!important;
    color: #666!important;
    border-color: #666;
}

/*.div-img > img {
    height: auto;
    max-width: 100%;
    padding: 20px;
}*/


/* Isotope Transitions
------------------------------- */

.isotope,
.isotope .item {
    /*change this to change animation interval*/
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.0s;
    -ms-transition-duration: 0.0s;
    -o-transition-duration: 0.0s;
    transition-duration: 0.0s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: top, left, opacity;
    transition-property: transform, opacity;
}

footer {
    height: 100px;
}

footer .list-inline {
    margin-top: 20px;
}

footer a {
    color: #666;
}

/* responsive media queries */

/* responsive media queries */

@media (max-width: 540px) {
    .header{
        padding: 10px;
    }
    .but-cust{
        margin: 4px;
    }
}

@media (max-width: 1024px) {
    .header{
        padding: 25px;
    }
    .but-cust{
        margin: 2px;
    }
    .btn{
        padding: 3px 6px 3px 6px;
    }
}
