html,
body {
    height: 100%;
    width: 100%;
    /*font-family: 'Poiret One', cursive;*/
    font-family: Arial;
}


/*navbar fix*/

.affix {
    top: 0;
    width: 100%;
}

.navbar {
    z-index: 1000;
    position: fixed;
    margin: 0 auto;
    width: 100%;
    padding: 40px 40px 0px 40px;
}

header {
    /*background: url('../img/comp/bg.jpg') no-repeat;*/
    /*height: 40%;*/
    width: auto;
    /*background-size: cover;*/
}

.fade {
    -webkit-transition: opacity .0s linear;
    -o-transition: opacity .0s linear;
    transition: opacity .0s linear
}

.header {
    background-color: transparent;
}

.main-intro {
    padding: 100px 0 40px 0;
    letter-spacing: 2px;
}

.intro {
    padding-top: 100px;
    min-height: 901px;
    width: 100%;
}

.item {
    border: none;
}

.item-wrap {
    padding: 5px;
}

.mfp-bg {
    background-color: #fff!important;
}

#posts img {
    margin: 0 auto;
    padding: 30px;
}

.but-cust {
    border-radius: 0px;
    background-image: none!important;
    background-color: transparent!important;
    border-color: transparent;
    text-shadow: none!important;
    box-shadow: none!important;
    color: grey;
    padding: 0px;
    margin: 8px;
}

.but-cust:hover {
    background-color: transparent;
    color: #000;
    border-color: transparent;
}

.but-cust:active,
.but-cust.active {
    /*background-color: #e1e1e1!important;*/
    color: #000!important;
    border-color: transparent;
    border-bottom: 2px solid #000;
}


/* Isotope Transitions
------------------------------- */

.isotope,
.isotope .item {
    /*change this to change animation interval*/
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.0s;
    -ms-transition-duration: 0.0s;
    -o-transition-duration: 0.0s;
    transition-duration: 0.0s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: top, left, opacity;
    transition-property: transform, opacity;
}

footer {
    height: 100px;
}

footer .list-inline {
    margin-top: 20px;
}

footer a {
    color: #666;
}

a:focus {
    outline: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.mfp-title {
    color: #484747;
    font-size: 10pt;
}

.mfp-figure small {
    color: #828282;
}

.mfp-arrow {
    opacity: 0.20;
}

.mfp-arrow-1 {
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    box-shadow: none;
    touch-action: manipulation;
    position: absolute;
    /*opacity: 0.65;*/
    margin: 0;
    top: 50%;
    margin-top: -55px;
    width: 90px;
    height: 110px;
    -webkit-tap-highlight-color: transparent;
}

.mfp-arrow-1:hover,
.mfp-arrow-1:focus {
    /*display: none;*/
    color: purple;
}

.mfp-figure:after {
    box-shadow: none;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
    color: #bbb;
}

.fa {
    color: #bbb;
    z-index: -1111;
}

.fa:hover {
    color: #333;
}


/*//////*/

nav {
    width: 100%;
}

a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

a:hover {
    color: #cdcdcd;
}

#menuToggle {
    display: block;
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
}


/*
 * Just a quick hamburger
 */

#menuToggle span {
    display: block;
    width: 22px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#menuToggle span:hover {
    background: #00000;
}

#menuToggle a {
    padding-right: 6px;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}


/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */

#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(1px, 4px);
    background: #888888;
}


/*
 * But let's hide the middle one.
 */

#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}


/*
 * Ohyeah and the last one should go the other direction
 */

#menuToggle input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}


/*
 * Make this absolute positioned
 * at the top left of the screen
 */

#menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 0px;
    padding: 50px;
    padding-top: 68px;
    background: rgba(152, 105, 105, 0);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 14px;
}


/*
 * And let's fade it in from the left
 */

#menuToggle input:checked ~ ul {
    transform: scale(1.0, 1.0);
    opacity: 1;
}
